
.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #111;
    padding-bottom: 10px;
    
}
.Logo{
width: 60px;
height: 30px;
padding-left: 10px;
padding-top: 10px;
}
.Avathar{
    width: 30px;
    height: 30px;
    padding-right: 20px;
    padding-top: 10px;
 }
